<div class="container">
 <h2 class="text-center">Our fabulous Cocktails</h2>



  <div class="cards">

    <div class="card">
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path('Cocktail-1.jpg') %>);">
        <div class="card-description">
          <h2>Mojito</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
   <div class="card">
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path('Cocktail-2.jpg') %>);">
        <div class="card-description">
          <h2>Old Fashion</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path('Cocktail-3.jpg') %>);">
        <div class="card-description">
          <h2>Mushroom Tail</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">

    <div class="cards">

    <div class="card">
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path('Cocktail-4.jpg') %>);">
        <div class="card-description">
          <h2>Mojito</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
   <div class="card">
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path('Cocktail-5.jpg') %>);">
        <div class="card-description">
          <h2>Old Fashion</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= image_path('Cocktail-6.jpg') %>);">
        <div class="card-description">
          <h2>Mushroom Tail</h2>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
